<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="card/card-deck">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Decks</ion-label>
    </ion-tab-button>

    <!--Remover depois?-->
    <ion-tab-button tab="card/card-listing">
      <ion-icon name="browsers-outline"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card/card-favorite">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
